/* Tailwind CSSを読み込み */
@import "tailwindcss";

/* ベーススタイルのカスタムプロパティ（変数）設定 */
:root {
  /* ライトモード用配色（目にやさしい） */
  --background: #f9f9f9; /* まぶしくない白 */
  --foreground: #222222; /* やさしい黒 */
  --card-background: #f0f0f0;
  --select-menu-background: #f0f0f0;
  --border-color: #dddddd;

  --font-size-h1: 1.4rem;
  --font-size-h2: 1rem;
  --font-size-h3: rem;
  --font-size-p: 0.4rem;
  --font-size-li: 0.5rem;
}

/* ダークモード用（やさしいコントラスト） */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e; /* 真っ黒じゃなくやや明るめ */
    --foreground: #e0e0e0; /* ほんの少しグレーな白 */
    --card-background: #1a1a1a;
    --select-menu-background: #1a1a1a;
    --border-color: #333333;
  }
}

/* body基本スタイル */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP", sans-serif;
}

/* futuleフォント */
.font-syne {
  font-family: "jost", sans-serif;
}
