/* ✅ Google Fonts：Syneフォント読み込み */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Syne:wght@400;700;800;900&family=Montserrat:wght@400;700;900&display=swap");
/* ✅ Tailwind CSSの読み込み */
@import "tailwindcss";

/* ✅ 基本カラー・フォントサイズ（ライトモード） */
:root {
  --background: #f9f9f9;
  --foreground: #222222;
  --card-background: #f0f0f0;
  --select-menu-background: #f0f0f0;
  --border-color: #dddddd;

  --font-size-h1: 1.4rem;
  --font-size-h2: 1rem;
  --font-size-h3: 1rem;
  --font-size-p: 0.4rem;
  --font-size-li: 0.5rem;
}

/* ✅ ダークモード設定 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #e0e0e0;
    --card-background: #1a1a1a;
    --select-menu-background: #1a1a1a;
    --border-color: #333333;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP", sans-serif; /* ここを追加 */
}

/* ✅ Syneフォント */
.font-syne {
  font-family: "Syne", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
